body,
html {
    border: 0;
    padding: 0;
    margin: 0;
}

#map {
    /* width: 1000px;
    height: 1000px; */
    width: 100vw;
    height: 100vh;
    background: grey;
}

#rtsControlUI {
    position: absolute;
    top: 0;
    left: 0;
}

/* Control UI - Tooltip */
[data-title]:hover:after {
    visibility: visible;
}

[data-title]:after {
    content: attr(data-title);
    background-color: #808080;
    color: #f0f0f0;
    position: absolute;
    padding: 0px 4px 0px 4px;
    visibility: hidden;
    left: 100%;
    white-space: nowrap;
    z-index: 10;
}

/* Control UI - Info icon */
.info {
    color: #ffffff;
    text-decoration: none !important;
}

/* Control UI - Copy to clipboard icon */
.copyToClipboard {
    font-size: large;
}
